body {
    box-sizing: border-box;
    background-color: rgb(38, 38, 38);
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 40rem;
    margin-left: 450px;
    margin-top: 30px;
    
}

h1 {
    color: white;
    padding: 20px;
    margin-top: 100px;
    font-size: 50px;
}

input {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px
}

.b1, .b2 {
    width: 70px;
    height: 40px;
    border-radius: 10px;
}

#list {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    width: 450px;
    height: 300px;
    font-size: 25px;
    border-radius: 10px;
    

}

ul li {
    list-style: none;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./unchecked-checkbox-icon-13.jpg);
    background-size:cover;
    background-position: center;
    top: -4px;
    left: -10px;
}

ul li.checked {
    color:rgb(255, 255, 255);
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(./icon-check-14.jpg);

}

ul li span {
    position: absolute;
    right: -5px;
    top: 5px;
    width: 20px;
    height: 20px;
    font-size: 22px;
    color: white;
    /* line-height: 40px; */
    
}

ul li span:hover{
    background: #edeef0;
    color: black;
}

